/* .color1 { #1f192f };
   .color2 { #2d6073 };
   .color3 { #65b8a6 };
   .color4 { #b5e8c3 };
   .color5 { #f0f7da };
*/

html {
    background:#b5e8c3;
    color: #1f192f;
    font-size: 10px;
    font-family: sans-serif;
    width: 1280px;
    text-align: center;
}

p {
    text-indent:1em;
}

h1, h2, h3 {
    text-align: center;
}

h1{ font-size: 1.8rem;
    display:inline;
    padding-left: 1em;
    padding-right: 1em;
}

h2 {font-size: 1.4rem;
    display: inline;
    
}

h3 {font-size: 1.2rem;}

.intro{
    height: 550px;
}

header {
    text-align:center;
    background-color: #1f192f;
    color:#b5e8c3;

    
}

.main p {line-height: 1.5;}

ul{
    list-style: none;
}

li{
    margin:1em;
}

footer{
    margin: 4%;
}

footer>a{
    display:block;
    border: solid 2px;
    padding: 0.5em;
}

abbr {font-variant: 'small-caps';}
.page-wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.explanation {
    width: 60%;
    margin-right: 35%;
    border-right: 1px solid #1f295c;
    padding-right: 2%;
}

.sidebar {
    position: absolute;
    top: 560px; 
    left: 62%; 
    padding: 0 2%;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer-links a {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid;
}

.benefits-flex {
    display: flex;
    align-items: center;
}

.benefits h3 {
    flex: 30%;
    text-align: right;
    margin-right: 20px;
}

.benefits p {
    flex: 70%;
}

.participation-flex {
    display: flex;
}

.participation-flex h3 {
    flex: 1;
    align-self: center;
}

.participation-flex p {
    flex: 1;
}

.benefits,
.participation {
    border-top: 1px solid #1f295c;
    border-bottom: 1px solid #1f295c;
    padding: 20px 0;
}