/* .color1 { #1f192f };
   .color2 { #2d6073 };
   .color3 { #65b8a6 };
   .color4 { #b5e8c3 };
   .color5 { #f0f7da };
*/

html {
    background:#b5e8c3;
    color: #1f192f;
    font-size: 10px;
    font-family: sans-serif;
}

p {
    text-indent:1em;
}

h1, h2, h3 {
    text-align: center;
}

h1{ font-size: 1.8rem;}

h2 {font-size: 1.4rem;}

h3 {font-size: 1.2rem;}

.summary {text-align:right;}

.main p {line-height: 1.5;}

abbr {font-variant: 'small-caps';}