/* .color1 { #1f192f };
   .color2 { #2d6073 };
   .color3 { #65b8a6 };
   .color4 { #b5e8c3 };
   .color5 { #f0f7da };
*/

html {
    background:#b5e8c3;
    color: #1f192f;
    font-size: 10px;
    font-family: sans-serif;
    width: 1280px;
    text-align: center;
}

p {
    text-indent:1em;
}

h1, h2, h3 {
    text-align: center;
}

h1{ font-size: 1.8rem;
    display:inline;
    padding-left: 1em;
    padding-right: 1em;
}

h2 {font-size: 1.4rem;
    display: inline;
    
}

h3 {font-size: 1.2rem;}

.intro{
    height: 550px;
}

header {
    text-align:center;
    background-color: #1f192f;
    color:#b5e8c3;

    
}

.main p {line-height: 1.5;}

ul{
    list-style: none;
}

li{
    margin:1em;
}

footer{
    margin: 4%;
}

footer>a{
    display:block;
    border: solid 2px;
    padding: 0.5em;
}

abbr {font-variant: 'small-caps';}